.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

// Portfolio version number (Will be in footer later)
.port-ver {
    font-weight: bold;
}